<section class="w-100 px-3 py-5 bg-light" style="border-radius: .5rem;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0">Welcome to the Gift Cards Webshop</h3>
        </div>
        <p>Looking for the perfect gift for a gamer? You've come to the right place!</p>
        <p>Explore our wide selection of gift cards and give the gift of gaming. Perfect for any occasion!</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12 mb-4">
        <h2>My Linked Giftcards</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="card">
                <div class="card-number">1234 5678 9012 3456</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <div class="card-number">1234 5678 9012 3456</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <div class="card-number">1234 5678 9012 3456</div>
              </div>
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous </span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-lg-2 col-sm-12 mb-4">
        <div class="d-flex flex-column justify-content-center align-items-center h-100"></div>
      </div>

      <div class="col-lg-5 col-sm-12 mb-4">
        <!-- screen to buy giftcards -->
        <h2>Buy a Gift Card</h2>
        <form>
          <div class="mb-3">
            <label for="giftcard-amount" class="form-label">Gift Card Amount</label>
            <select class="form-control" id="giftcard-amount" required #giftcardAmount>
              <option value="">Select amount</option>
              <option value="25">$25</option>
              <option value="50">$50</option>
              <option value="100">$100</option>
              <option value="200">$200</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary"
            (click)="buyGiftcard(giftcardAmount.value); $event.preventDefault()">Buy Gift Card</button>
        </form>
      </div>
    </div>
  </div>
</section>