.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &-body {
    text-align: center;
  }
}

.btn {
  width: 100%;
  background-color: black;
  border: 1px solid black;
  font-size: 15px;
  color: white;

  &:hover {
    background-color: white;
    color: black;
  }
}


@media (max-width: 768px) {
  .card-img-top {
    max-width: 200px;
    margin: 0 auto;
  }
}
