<div class="container mt-5">
  <form [formGroup]="bestelForm" style="width: 100%">
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="form-outline">
          <input type="text" id="form1.1" class="form-control" placeholder="Name" formControlName="name" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-outline">
          <input type="text" id="form1.2" class="form-control" placeholder="Infix" formControlName="infix">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-outline">
          <input type="text" id="form1.3" class="form-control" placeholder="Last Name" formControlName="lastName" required>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="form-outline">
          <input type="text" id="form2.1" class="form-control" placeholder="zip-Code" formControlName="zipCode" pattern="\d{4}[A-Z]{2}" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline">
          <input type="number" id="form2.2" class="form-control" placeholder="House Number" formControlName="houseNumber" required>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <div class="form-outline">
        <textarea class="form-control" id="form3.2" rows="4" placeholder="Notes" formControlName="notes"></textarea>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md text-end">
        <button [disabled]="!bestelForm.valid" type="button" class="btn btn-primary btn-block" (click)="onSubmit()">
          Go To Payment
        </button>
      </div>
    </div>
  </form>
</div>
