<div class="container">
  <div class="card col-lg-8 col-md-10 col-12 mx-auto mt-5">
    <div *ngIf="user" class="card-body d-flex flex-wrap align-items-center justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
             class="img-fluid rounded-circle" alt="Profile Picture">
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <p class="mb-1">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="form-control" [(ngModel)]="user.name">
        </p>
        <p class="mb-1">
          <label for="infix">Infix:</label>
          <input type="text" id="infix" name="infix" class="form-control" [(ngModel)]="user.infix">
        </p>
        <p class="mb-1">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="user.lastName">
        </p>
        <p class="mb-1">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" class="form-control" [(ngModel)]="user.email">
        </p>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" [routerLink]="['/profile']" (click)="updateUser()">Update Profile</button>
          <button class="btn btn-danger mt-3" [routerLink]="['/']" (click)="deleteAccount()">Delete Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
