<header class="navbar navbar-expand-md py-3 mb-4 border-bottom">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand me-auto">Gaming Webshop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link rounded-3">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['products']" class="nav-link rounded-3">Products</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['cart']" class="nav-link rounded-3">Cart ({{ amountOfProducts }})</a>
        </li>
        <ng-container *ngIf="userIsLoggedIn; else guestLinks">
          <li class="nav-item">
            <a [routerLink]="['profile']" class="nav-link rounded-3">Profile</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['order-history']" class="nav-link rounded-3">Order History</a>
          </li>
          <li class="nav-item">
            <a (click)="onLogout()" class="nav-link rounded-3">Logout</a>
          </li>
        </ng-container>
        <ng-template #guestLinks>
          <li class="nav-item">
            <a [routerLink]="['auth', 'login']" class="nav-link rounded-3">Login</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['auth', 'register']" class="nav-link rounded-3">Register</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</header>
